/*------------------------------------*\
    BLOG-VARS.SCSS
\*------------------------------------*/
$use-block-list:    true;

$logo-img-url: "http://static.tumblr.com/p6sqtv4/U2Snyzfah/logo.png";
$loading-img-url: "http://letterracer.com/img/loading.gif";
$letter-racer-font-url: "http://letterracer.com/font/LetterRacer10.ttf";
