/*------------------------------------*\
    MAIN-VARS.SCSS
\*------------------------------------*/
$use-block-list:    false;

$logo-img-url: "/img/logo.png";
$loading-img-url: "/img/loading.gif";
$letter-racer-font-url: "/font/LetterRacer10.ttf";
