.horizontal-border {
  position: relative;
  z-index: 1;
  background-color: white;
  display: inline-block;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-border-image: url(../img/archive/horizontal.png) 6 repeat; /* Safari 3.1-5 */
  -o-border-image: url(../img/archive/horizontal.png) 6 repeat; /* Opera 11-12.1 */
  border-image: url(../img/archive/horizontal.png) 6 repeat;
}

@media screen and (max-width: 623px) {
  .flexcontainer {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-align-content: center;
    align-content: center;
  }
  .horizontal-border {
    top: 0 !important;
    left: 0 !important;
    margin-bottom: 25px;
  }
}

.vertical-border {
  display: inline-block;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  padding: 1px;
  -webkit-border-image: url(../img/archive/vertical.png) 1 repeat; /* Safari 3.1-5 */
  -o-border-image: url(../img/archive/vertical.png) 1 repeat; /* Opera 11-12.1 */
  border-image: url(../img/archive/vertical.png) 1 repeat;
}
img.feature {
  opacity: 0.9;
}
img.feature:hover {
  opacity: 1;
}
.bar {
  text-align: right;
  line-height: 0.8em;
  padding-right: 5px;
  padding-bottom: 1px;
  margin-bottom: 1px;
  border-bottom: 1px solid transparent;
  -webkit-border-image: url(../img/archive/horizontal.png) 6 repeat; /* Safari 3.1-5 */
  -o-border-image: url(../img/archive/horizontal.png) 6 repeat; /* Opera 11-12.1 */
  border-image: url(../img/archive/horizontal.png) 6 repeat;
  cursor: move;
}
.x {
  cursor: default;
}
