{% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}{% endcapture %}{% capture title %}{% if page.title != null %}{{ page.title }}{% elsif page.artists && page.venue %}{% for artist in page.artists %}{{ artist }}{% if forloop.last != true %}, {% endif %}{% endfor %} @ {{ page.venue }} ({{ page.city }}){% endif %}{% endcapture %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    
    <title>{% if title != "" %}{{ title }} &ndash; {% endif %}{{ site.title }} &ndash; {{ site.description }}</title>

    <link rel="stylesheet" href="/css/letterracer.css">
    
    <link rel="shortcut icon" href="/img/logo.png">
    <link rel="apple-touch-icon-precomposed" href="/img/logo.png">
    <meta name="apple-mobile-web-app-title" content="Letter Racer">

    {% if include.redirect_url %}
    <meta http-equiv="refresh" content="{{ include.redirect_time }}; url={{ include.redirect_url }}">
    {% else %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <meta name="description" content="{{ description }}">
    {% if page.twitter_card == 'summary' %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ratking">
    <meta name="twitter:domain" content="letterracer.com">
    {% if page.twitter_creator %}<meta name="twitter:creator" content="@{{ page.twitter_creator }}">{% endif %}
    <meta name="twitter:title" content="{{ title }} – Letter Racer">
    <meta name="twitter:image:src" content="{{ twitter_img }}">
    <meta name="twitter:description" content="{{ description }}">
    {% endif %}
    {% endif %}
    {% if include.nocache or include.redirect_url %}
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT">
    <meta http-equiv="pragma" content="no-cache">
    {% endif %}

</head>