<div class="remodal  js-mail-list-signup" data-remodal-id="mail-list">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h2>Mail List</h2>

  <form id="mail-list-signup" class="form  form--mail-list-signup" method="POST" action="https://my.sendinblue.com/users/subscribeembed/js_id/2a2sw/id/1">
    <input type="hidden" name="js_id" id="js_id" value="2a2sw"><input type="hidden" name="listid" id="listid" value="4">
    <input type="hidden" name="from_url" id="from_url" value="yes">
    <input type="hidden" name="hdn_email_txt" id="hdn_email_txt" value="">
    <input type="hidden" name="req_hid" id="req_hid" value="">
    <ul class="signup-widget">
      <li>
        <input class="text-input  email" type="email" value="" placeholder="you@email.com" name="email" autocomplete="off">
      </li>
      <li>
        <button type="submit" class="[ btn  btn--primary  btn--positive  btn--natural ]  submit">Sign Up</button>
      </li>
    </ul>
    <div class="result"></div>
  </form>
</div>