<div class="menu-bar">
  <div class="wrapper">
    <div class="grid  grid--full">
      <div class="grid__item  one-quarter  palm-two-fifths">
        <a data-target="rtt" href="#top" class="link-complex  [ menu-bar__button  menu-bar__rtt ]  js-anim">
          <img id="rtt" class="sprite  sprite--rtt" src="/img/top.gif" data-preload="http://letterracer.com/img/top-anim.gif">
          <span class="link-complex__target  menu-bar__link">Top</span>
        </a>
      </div><!--
   --><div class="[ grid__item  one-half  palm-one-fifth ]  text-center">
        <h4 class="masthead__heading">
          <a href="{{ site.url }}" class="masthead">
            L<span class="visible--lap-and-up">etter </span>R<span class="visible--lap-and-up">acer</span>
          </a>
        </h4>
      </div><!--
   --><div class="grid__item  one-quarter  palm-two-fifths  text-right">
        <a data-target="mail" href="#mail-list" class="link-complex  [ menu-bar__button  menu-bar__mail-list ]  js-anim">
          <span class="link-complex__target  menu-bar__link"><span class="visible--lap-and-up">Mail </span>List</span>
          <img id="mail" class="sprite  sprite--mail-list" src="/img/mail.gif" data-preload="http://letterracer.com/img/mail-anim.gif">
        </a>
      </div>
    </div>
  </div>
</div>