/*------------------------------------*\
    $TUMBLR.CSS
\*------------------------------------*/

.tumblr_controls{
    overflow-x:hidden;
    width:229px!important;
    top:100%!important;
    margin-top:-32px!important;
    position:fixed!important;
}

.icon--reblog{
    font-size:11px;
    position:relative;
    top:-2px;
}