<!DOCTYPE html>
<html lang="en">

{% include head.html nocache=true %}


<body{% if page.clock == true %} onload="startTicker()"{% endif %}>

<div class="page  page--splash  text-center">
  {% include header.html %}
  {% if content %}
  <div class="page__content">
    {{ content }}
    {% if page.share_button  %}
    <div style="display:block;margin:0px auto;">{% include share-this.html title=title %}</div>
    {% endif %}
  </div>
  {% endif %}
  <div class="push-foot"></div>
</div>

{% include splash-footer.html ticker=page.clock %}

{% include mail-list-modal.html %}

<script src="/js/vendors.js"></script>
<script src="/js/preload.min.js"></script>
<script src="/js/main.js"></script>
{% if page.clock == true %}
<script>
function startTicker() {
    now = new Date();
    utc = now.getTime() + (now.getTimezoneOffset() * 60000);
    nowNyc = new Date(utc - (3600000*5));
    document.getElementById('ticker').innerHTML = parseTime(nowNyc);
    setTimeout(startTicker, 500);
}

function parseTime(time) {
  h = time.getHours();
  m = time.getMinutes();
  ampm = "am";

  if (h > 11) {
    ampm = "pm";
  }
  if (h == 0) {
    h = 12;
  }
  if (h > 12) {
    h = h-12;
  }
  if (h < 10)
  {
    h = "0" + h;
  }
  if (m < 10)
  {
    m = "0" + m;
  }

  return h + ":" + m + " " + ampm;
}
</script>
{% endif %}

</body>

</html>