<!DOCTYPE html>
<html lang="en">

{% include head.html nocache=true %}


<body{% if page.clock == true %} onload="startTicker()"{% endif %}>

<div class="page  page--splash  text-center">
  {% if content %}
  <div class="page__content">
    {{ content }}
    {% if page.share_button  %}
    <div style="display:block;margin:0px auto;">{% include share-this.html title=title %}</div>
    {% endif %}
  </div>
  {% endif %}
  <div class="splash-nav-container">
    <div class="wrapper">{% include nav-main.html %}</div>
  </div>
  <div class="push-foot"></div>
</div>

{% include splash-footer.html ticker=page.clock %}

{% include mail-list-modal.html %}

<script src="/js/vendors.js"></script>
<script src="/js/preload.min.js"></script>
<script src="/js/main.js"></script>
<script src="/bower_components/moment/min/moment.min.js"></script>
<script src="/bower_components/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
{% if page.clock == true %}
<script>
function startTicker() {
    var now = moment();
    var nowNyc = moment.tz(now, "America/New_York").format("hh:mm a");
    document.getElementById('ticker').innerHTML = nowNyc;
    setTimeout(startTicker, 500);
}
</script>
{% endif %}

</body>

</html>
